body,h1,p,h2,a {font-family: "Raleway", sans-serif;}

::selection {
  color: #dbdbdb;
  background: #443e6a;
}

body, html {height: 100%}
#bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

a {
  font-size: 13px;
}
h1,h2,p,h4 {color: white}

.topic {
  font-size: 28px;
  font-weight: bold;
  margin-left: 80px;
  margin-top: 25px;
  color: white;
}

td,th {
  border: 2px solid hsla(271, 42%, 67%, 0.85);
  border-left: 0px;
  border-right: 0px;
  padding: 4px;
  text-align: center;
  color: #2e2e2e;
  }

th {
  font-size: 18px;
  padding: 5px;
  border: none;
}

td:hover {
  background-color: hsla(271, 42%, 67%, 0.85);
  font-weight: bold;
}

table {
  width: 350px;
  border-collapse: collapse !important;
  padding: 5px;
  /* border-spacing: 5px; */
  table-layout:fixed;
  border-radius: 0.5em;
  background-color: #f2f2f2;
  }
tr:last-child > td {
    border-bottom: none;
  }

h4:hover, button:hover {
  color: #ac88ce;
  cursor: pointer;
}

button {
      width: 55px;
      height: 25px;
      background-color: ;
      margin: 8px 5px;
      text-align: center;
      font-size: 12px;
      border: none;
      border-color: black;
      border-radius: 10px;
  }

#expfile, #expmap
{
  width: 55px;
  height: 30px;
}
  .map
 {
      left: 0px;
      top: 0px;
      position: fixed;
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      height: 700px;
      overflow: hidden;
     }

  .LTP
  {
       left: 213px;
       top: 362px;
       position: fixed;
       width: 105px;
       height: 82px;
  }

   .PTT
  {
       left: 79px;
       top: 130px;
       position: fixed;
       width: 226px;
       height: 163px;

  }

   .RIT
  {
       left: 240px;
       top: 270px;
       position: fixed;
       width: 139px;
       height: 151px;

  }

   .TTW
  {
       left: 288px;
       top: 377px;
       position: fixed;
       width: 99px;
       height: 101px;
  }

   .BBT
  {
       left: 28px;
       top: 121px;
       position: fixed;
       width: 202px;
       height: 286px;
  }

   .PKK
  {
       left: 140px;
       top: 242px;
       position: fixed;
       width: 132px;
       height: 147px;
  }

   .RBN
  {
       left: 111px;
       top: 478px;
       position: fixed;
       width: 126px;
       height: 175px;

  }

   .PSN
  {
       left: 76px;
       top: 393px;
       position: fixed;
       width: 129px;
       height: 153px;

  }

   .CSW
  {
       left: 136px;
       top: 387px;
       position: fixed;
       width: 95px;
       height: 102px;

  }

   .TYB
  {
       left: 281px;
       top: 10px;
       position: fixed;
       width: 295px;
       height: 229px;

  }

   .DNM
  {
       left: 298px;
       top: 148px;
       position: fixed;
       width: 249px;
       height: 158px;

  }

   .BGC
  {
       left: 345px;
       top: 275px;
       position: fixed;
       width: 220px;
       height: 216px;

  }

   .BPL
  {
       left: 314px;
       top: 463px;
       position: fixed;
       width: 267px;
       height: 197px;

  }

   .ASD
  {
       left: 203px;
       top: 416px;
       position: fixed;
       width: 96px;
       height: 92px;

  }

   .PSP
  {
       left: 275px;
       top: 441px;
       position: fixed;
       width: 111px;
       height: 82px;

  }

  .conditions {
      max-width: 100%;
      width: 150px;
      height: 180px;
      right: 50px;
      top: 30px;
      position: fixed;
      text-align: center;
      /* color: #003; */
  }

  .icon {
      padding-bottom: 15%;
      cursor: pointer;
  }

  .export {
      max-width: 100%;
      width: 100px;
      height: 50px;
      right: 85px;
      bottom: 20px;
      position: fixed;
      text-align: center;
    }

  .div-tooltip {
      opacity: 0;
      position: fixed;
      top:0;
      left:0;
      background: #fff;
      color: #444;
      padding: 10px 20px;
      margin:20px;
      z-index: 99999;
      border-radius: 5px;
}

.overlay {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  /* opacity: 0; */
}

.container:hover .overlay {
  opacity: 1;
  filter: brightness(1.5);
  display: inline-block;
  transform: scale(1);
}

.text {
  z-index: 1;
  position: absolute;
  left: -10px;
  top: 50%;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.RBN .text {
  left: -15px;
  top: 30%;
}

.ASD .text {
  left: -5px;
  top: 35%;
}

.LTP .text, .PKK .text {
  left: 10px;
}

.PSP .text {
  left: -20px;
}

.TTW .text{
  top: 40%;
  left:0px;
}

.BPL .text, .RIT .text, .PTT .text {
  top: 30%;
}

.container {
  position: absolute;
  width: auto;
  height: auto;
}

.column {
  float: left;
  width: 40%;
}

.row {
  height: 40px;
}

.smalltable {
  display: none;
  right: 50px;
  bottom: 15%;
  position: fixed;
  text-align: center;
  font-size: 12px;
  background-color: white;
  border-color: gray;
  padding: 2px;
}

.ccbtn {
  width: 20px;
  height: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
  border: none;
  border-color: white;
  border-radius: 15px;
  padding: 0%;
  cursor: pointer;
}

#logo {
  margin-top: 20px;
}
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* Position tooltip above the element */

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -38px;
  padding: 7px;
  width: 68px;
  border-radius: 10px;
  /* box-shadow: 3px 2px 5px #9F9F9F; */
  background-color: hsla(271, 42%, 67%, 0.85);
  color: #FFFFFF;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid hsla(271, 42%, 67%, 0.85);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
