body,h1,p,h2 {font-family: "Raleway", sans-serif}

body, html {height: 100%}
#bgimg {
  /* background-image: url(''); */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

td,th {
  border: 1px solid black;
  text-align: center;
  }

td:hover {
  background-color: pink;
  font-weight: bold;
}

table {
  padding: 2%;
  /* border-spacing: 2px; */
  table-layout:fixed;
  }

h4:hover {
  color: #666633;
  text-decoration: underline;
  cursor: pointer;
}

button {
      /* width: 50px;
      height: 25px; */
      /* background-color: .f44336;
      color: white;  */
      margin: 8px 5px;
      text-align: center;
      /* border: none; */
      border-color: black;
      border-radius: 5px;
      cursor: pointer;
  }

  .map
 {
      left: 0px;
      top: 0px;
      position: fixed;
      margin-left: auto;
      margin-right: auto;
      width: 700px;
      height: 700px;
      overflow: hidden;
     }

  .LTP
  {
       left: 213px;
       top: 362px;
       position: fixed;
       width: 105px;
       height: 82px;
  }

   .PTT
  {
       left: 79px;
       top: 130px;
       position: fixed;
       width: 226px;
       height: 163px;

  }

   .RIT
  {
       left: 240px;
       top: 270px;
       position: fixed;
       width: 139px;
       height: 151px;

  }

   .TYAN
  {
       left: 288px;
       top: 377px;
       position: fixed;
       width: 99px;
       height: 101px;

  }

   .BBT
  {
       left: 28px;
       top: 121px;
       position: fixed;
       width: 202px;
       height: 286px;

  }

   .PKK
  {
       left: 140px;
       top: 242px;
       position: fixed;
       width: 132px;
       height: 147px;
  }

   .RBN
  {
       left: 111px;
       top: 478px;
       position: fixed;
       width: 126px;
       height: 175px;

  }

   .PSN
  {
       left: 76px;
       top: 393px;
       position: fixed;
       width: 129px;
       height: 153px;

  }

   .CSW
  {
       left: 136px;
       top: 387px;
       position: fixed;
       width: 95px;
       height: 102px;

  }

   .TYB
  {
       left: 281px;
       top: 10px;
       position: fixed;
       width: 295px;
       height: 229px;

  }

   .DNM
  {
       left: 298px;
       top: 148px;
       position: fixed;
       width: 249px;
       height: 158px;

  }

   .BGC
  {
       left: 345px;
       top: 275px;
       position: fixed;
       width: 220px;
       height: 216px;

  }

   .BPL
  {
       left: 314px;
       top: 463px;
       position: fixed;
       width: 267px;
       height: 197px;

  }

   .ASD
  {
       left: 203px;
       top: 416px;
       position: fixed;
       width: 96px;
       height: 92px;

  }


   .PSP
  {
       left: 275px;
       top: 441px;
       position: fixed;
       width: 111px;
       height: 82px;

  }

  .conditions {
      max-width: 100%;
      width: 150px;
      height: 180px;
      right: 20px;
      top: 20px;
      position: fixed;
      text-align: center;
  }

  .icon {
      padding-bottom: 10%;
      margin-left: -100px;
  }

 /* .site:hover {
     filter: brightness(1.5);
     display: inline-block;
  } */

  .export {
        max-width: 100%;
        width: 100px;
        height: 50px;
        right: 20px;
        bottom: 20px;
        position: fixed;
        text-align: center;
    }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    position: fixed;

  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    filter: brightness(1.5);
    display: inline-block;
    transform: scale(1);
  }

.div-tooltip {
      opacity: 0;
      position: fixed;
      top:0;
      left:0;
      background: #fff;
      color: #444;
      padding: 10px 20px;
      margin:20px;
      z-index: 99999;
      border-radius: 5px;
}
/* Add this attribute to the element that needs a tooltip */

[data-tooltip] {
  position: fixed;
  z-index: 2;
  color: white;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 1;

}

/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: inherit;
  /* bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  border-radius: 2px;
  border: 1px outset #C0C0C0;
  box-shadow: 3px 2px 5px #9F9F9F;
  background-color: #000;
  background-color: hsla(206, 73%, 34%, 0.9);
  color: #FFFFFF;
  content: attr(data-tooltip); */
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
}

/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  position: fixed;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.overlay {
  text-align: center;
  /* opacity: 0; */
}

.container:hover .overlay {
  opacity: 1;
  filter: brightness(1.5);
  display: inline-block;
  transform: scale(1);
}

.text {
  color: white;
  z-index: 1;
  position: absolute;
  left: -15px;
  top: 50%;
  font-size: 12px;
  text-align: center;
}

.container {
  position: absolute;
  height: 10%;

}
